# Ignore __pycache__ directories
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore specific data files
*.csv
*.xlsx
*.json

# Exception: Do not ignore checkbox_state.json
!checkbox_state.json

# Ignore other unnecessary files
*.log
*.tmp